/*color

text
--#fff
--#7048e8

-- loading
--#69db7c


--timer background
-#212529


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.dark-mode {
  .dashboard {
    background-color: #000;
  }
  .tog {
    background-color: #fff !important;
    span {
      background-color: #000 !important;
    }
  }
  .top-header {
    background-color: #000;
    /* border: 1.5px solid #7048e8; */
    box-shadow: 3px 2px 10px 0px #000;
  }
  .sidebar {
    background-image: linear-gradient(to left, #000, #1111);
    border-right: 1.5px solid #7048e8;
  }
  .sidebar .header span {
    color: #7048e8;
  }
  .overview .view-cards div {
    padding: 10px 15px;
    height: 100%;
    border-radius: 25%;
    box-shadow: none;
  }
  .all-task {
    background-image: linear-gradient(to right, #7048e8, #1c075d);
    color: #fff;
  }
  .pending-task {
    background-color: #000;
    color: #fff;
  }
  .completed-task {
    background-color: #000;
    color: #fff;
  }
  .overdue-task {
    background-color: #000;
    color: #fff;
  }
  .overview h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
  }
  .task-container .head {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 900;
  }
}
.done {
  background: #92fba7 !important;
}

html {
  font-size: 67.75%;
}
/*Creating the dashboard layouts*/
.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 10px;

  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 70px 1fr;
  gap: 10px;
  color: white;
}

.sidebar {
  grid-row: 1 / 3;
  grid-column: 1;
  background-image: linear-gradient(to left, #f3f3f3, #f4f9ff);
  position: relative;
  transition: all 0.4s;
}

.sidebar .header {
  width: 100%;
  padding: 15px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
}
.sidebar .header span {
  font-size: 2.5rem;
  color: #000;
  cursor: pointer;
}
.sidebar .header h1 {
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 0px 100px 100px 0px;
  color: #7048e8;
  font-weight: 900;
  font-style: oblique;
}
.sidebar .navigates {
  width: 100%;
  padding: 15px 8px;
  margin-top: 20px;
}
.sidebar .navigates ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.sidebar .navigates ul li {
  width: 100%;
  list-style: none;
  text-align: start;
  padding: 10px 15px;
  border-radius: 11px;
  cursor: pointer;
  color: #7048e8;
  font-weight: bolder;
  font-size: 1.5rem;
  display: flex;
  gap: 10px;
}
.sidebar .navigates ul li:hover {
  background-color: #ced4da;
}
.sidebar .navigates ul li:hover.active-tab {
  background-color: #7048e8;
}
.active-tab {
  background-color: #7048e8;
  color: #fff !important;
}
.sidebar .toggle-mode {
  padding: 0px 20px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.sidebar .toggle-mode .tog {
  width: 50px;
  height: 20px;
  border-radius: 100px;
  border: none;
  background-color: #000;
  border: 0.5px solid #7048e8;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 1px;
  transition: all 0.4s;
}
.sidebar .toggle-mode .tog span {
  height: 15px;
  width: 60%;
  border-radius: 100px;
  background-color: #fff;
  transition: all 0.4s;
}
.toggle {
  /* display: flex;
  justify-content: flex-end;
  transition: all 0.5s; */
  span {
    transform: translateX(60%);
  }
}
.top-header {
  background-color: #f4f4f4;
  /* box-shadow: 1px 1px 2px 0px rgb(158, 158, 158); */
  transition: all 0.4s;
  padding: 2px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-header .join-date {
  font-size: 1.5rem;
  color: #7048e8;
  font-weight: 900;
}
.top-header .search-container {
  width: 350px;
  height: 40px;
}
.top-header .search-container input {
  padding: 10px;
  font-size: 1.4rem;
  width: 100%;
  height: 100%;
  border-radius: 200px;
  border: none;
  outline-color: #7048e8;
  color: #000;
  font-weight: 600;
}

.top-header .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fa5252;
}
.top-header .user-info img {
  border-radius: 50%;
}
.top-header .user-info button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 2rem;
  background-color: #7048e8;
  color: #fff;
  border: none;
}

.content-sections {
  /* background-image: linear-gradient(to bottom, #fff, #d1c4f8); */
  overflow: hidden;
}
.tab-section {
  width: 100%;
  height: 100%;
}

.tab-hidden {
  display: none;
}

.section-details-1 {
  display: none;
  /* background-color: #7048e8; */
  padding: 15px;

  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 2fr;
  gap: 20px;
}

.overview {
  /* background-color: #fff; */
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  color: #000;
  padding: 10px;
  gap: 15px;
}
.overview h1 {
  font-size: 3rem;
  font-weight: 800;
}
.overview .view-cards {
  width: 500px;
  height: 100%;
  padding: 15px;

  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview .view-cards div {
  padding: 10px 15px;
  height: 100px;
  border-radius: 25%;
  /* box-shadow: 3px 5px 10px 0px rgb(208, 208, 208); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  /* transition: all 0.1s; */
}
.overview .view-cards div:hover {
  transform: scale(1.1);
}
.overview .view-cards div h1 {
  font-size: 1.5rem;
  opacity: 0.5;
}
.overview .view-cards div span {
  font-size: 2.5rem;
  font-weight: 900;
  font-style: italic;
}
.all-task {
  background-color: #7048e8;
  color: #fff;
}
.pending-task {
  background-color: #f1f1f1;
  color: #000;
}
.completed-task {
  background-color: #f1f1f1;
  color: #000;
}
.overdue-task {
  background-color: #f1f1f1;
  color: #000;
}
.motivation {
  padding: 20px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  color: #fff;
  font-weight: 800;
  border-radius: 20px;
  font-size: 1.5rem;
  border: 0.5px solid #363636;
}
.task-container {
  background-color: transparent;
  border-radius: 20px;
  grid-column: span 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.task-container .head {
  font-size: 1.7rem;
  color: #000;
  font-weight: 900;
}
.task-container .card-container {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  padding: 10px 10px;
  gap: 30px;
  /* overflow-y: scroll; */
}
.task-card {
  padding: 10px;
  width: 300px;
  height: auto;
  /* background-color: #fff; */
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  gap: 10px;
  color: #000;
  border-radius: 20px;
  position: relative;
  box-shadow: 1px 1px 5px 0px rgb(222, 222, 222);
  position: relative;
  transition: all 0.4s;
}

.task-card:hover {
  box-shadow: 1px 7px 5px 0px rgb(222, 222, 222);
}
.task-card .id {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fbdc75;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 800;
}
.task-card h1 {
  font-size: 2rem;
  color: #7048e8;
}
.task-card p {
  font-size: 1.5rem;
  line-height: 1.3;
  color: #6a6a6a;
}
.cat-time {
  padding: 0px 9px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cat-time .duration {
  width: 160px;
  background: rgb(165, 4, 66);
  padding: 5px 5px;
  border-radius: 160px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.task-card .category {
  padding: 5px 10px;
  width: 100px;

  border-radius: 100px;
  /* background-color: #7048e8; */
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
}
.task-card .crud {
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}
.task-card .crud button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  /* box-shadow: 1px 1px 10px 0px #d7d5d5; */
  background-color: #f8fbb1;
}
.task-card .crud .crud-btn {
  width: 25px;
}
.task-card .crud .complete {
  color: #0ccf33;
}
.task-card .crud .edit {
  color: #7048e8;
}
.task-card .crud .delete {
  color: #fa5252;
}
.category-personal {
  background-color: #363636;
}
.category-studies {
  background-color: #fa5252;
}
.category-project {
  background-color: #6a6a6a;
}
.category-collaboration {
  background-color: #310d9e;
}
.section-details-2 {
  display: none;
}
.section-details-3 {
  display: none;
}
.section-details-4 {
  display: none;
}
.active--tab-section {
  display: grid;
}

@media (max-width: 500px) {
  .tab-name {
    display: none;
  }
  .dashboard {
    grid-template-columns: 70px 1fr;
  }
  .sidebar {
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  .sidebar .navigates ul li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar .toggle-mode .tog {
    width: 100% !important;
  }
  .sidebar .toggle-mode {
    justify-content: flex-start !important;
    padding: 10px;
    bottom: 5px;
    left: 1px;
  }
}

/*MODAL CSS*/
.overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 0;
}
.active-overlay {
  display: flex;
}
.overlay form {
  padding: 25px;
  width: 70%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.overlay form .fields {
  padding: 8px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.overlay form .fields input {
  padding: 10px 20px;
  border: 0.5px solid grey;
  outline-color: #0ccf33;
  font-size: 1.5rem;
  font-family: 500;
  color: #363636;
}
.overlay form .fields label {
  font-size: 1.5rem;
  font-weight: 600;
  color: #7048e8;
}

.overlay form .fields textarea {
  height: 100px;
  resize: none;
  padding: 10px;
  font-size: 1.5rem;
  outline-color: #0ccf33;
}
.overlay form .fields select {
  height: 50px;
  outline-color: #0ccf33;
  padding: 10px;
  font-size: 1.5rem;
}
.add-task-btn button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #000;
}
